<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <form role="form" class="form-horizontal" action="/tickets" method="POST">
                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="well well-sm">
                            Crea Ticket
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="titolo">Titolo:</label>
                        <input type="text" class="form-control" id="titolo" name="titolo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="cliente">Cliente</label>
                        <select id="cliente" class="form-control" name="_idCliente">
                            <option value=""></option>
                            {{#each viewModel.clientidb}}
                            <option value="{{_id}}">{{cognome}} {{nome}} | {{this._idAzienda.nomeAzienda}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="task">Task:</label>
                        <select id="task" class="form-control" name="_idTask">
                            <option value=""></option>
                            {{#each viewModel.taskdb}}
                            <option value="{{_id}}">{{nome}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="prio">Prio:</label>
                        <select id="prio" class="form-control" name="_idPrio">
                            <option value=""></option>
                            {{#each viewModel.priodb}}
                            <option value="{{_id}}">{{nome}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="stato">Stato</label>
                        <select id="stato" class="form-control" name="_idStato">
                            <option value=""></option>
                            {{#each viewModel.statidb}}
                            <option value="{{_id}}">{{nome}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12" for="tecnico">Assegna a:</label>
                    <div class="col-sm-6">
                        <select id="tecnico" class="form-control" name="_idTecnico">
                            <option value=""></option>
                            {{#each viewModel.tecnicidb}}
                            <option value="{{_id}}">{{cognome}} {{nome}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        {{!--
                        <button type="submit" class="btn btn-info pull-right">Submit</button> --}}
                        <button type="submit" class="btn btn-primary btn-block">Crea</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>