<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4>
                    {{viewModel.ticket.titolo}}
                </h4>
            </div>
        </div>
        <div class="row">
            <!--
            <header id="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h1>
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                                <small>Manage Your Site</small>
                            </h1>
                        </div>
                        <div class="col-md-2">
                            <div class="dropdown create">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    Create Content
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a type="button" data-toggle="modal" data-target="#addPage">Add Page</a>
                                    </li>
                                    <li>
                                        <a href="#">Add Post</a>
                                    </li>
                                    <li>
                                        <a href="#">Add User</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section id="breadcrumb">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </section>
            -->

            <section id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                <a href="" class="list-group-item active main-color-bg">
                                    Info
                                </a>
                                <select id="_idCliente" class="form-control" name="_idCliente">
                                    <option value=""></option>
                                    {{#each viewModel.clientidb}}
                                    <!--<option value="{{_id}}" {{#ifCond _id '==' ../../_idCliente }} selected="selected" {{/ifCond}}>{{cognome}} {{nome}} | {{this._idAzienda.nomeAzienda}} | parent {{../../_idCliente}}</option>-->
                                    <option value="{{_id}}" {{#if selected }} selected="selected" {{/if}}>{{cognome}} {{nome}} | {{this._idAzienda.nomeAzienda}}</option>
                                    {{/each}}
                                </select>
                                <select id="_idPrio" class="form-control" name="_idPrio">
                                    <option value=""></option>
                                    {{#each viewModel.priodb}}
                                    <!--<option value="{{_id}}" {{#ifCond _id '==' ../../_idCliente }} selected="selected" {{/ifCond}}>{{cognome}} {{nome}} | {{this._idAzienda.nomeAzienda}} | parent {{../../_idCliente}}</option>-->
                                    <option value="{{_id}}" {{#if selected }} selected="selected" {{/if}}>{{nome}}</option>
                                    {{/each}}
                                </select>
                                <select id="_idStato" class="form-control" name="_idStato">
                                    <option value=""></option>
                                    {{#each viewModel.statidb}}
                                    <!--<option value="{{_id}}" {{#ifCond _id '==' ../../_idCliente }} selected="selected" {{/ifCond}}>{{cognome}} {{nome}} | {{this._idAzienda.nomeAzienda}} | parent {{../../_idCliente}}</option>-->
                                    <option value="{{_id}}" {{#if selected }} selected="selected" {{/if}}>{{nome}}</option>
                                    {{/each}}
                                </select>
                                <select id="_idTask" class="form-control" name="_idTask">
                                    <option value=""></option>
                                    {{#each viewModel.taskdb}}
                                    <!--<option value="{{_id}}" {{#ifCond _id '==' ../../_idCliente }} selected="selected" {{/ifCond}}>{{cognome}} {{nome}} | {{this._idAzienda.nomeAzienda}} | parent {{../../_idCliente}}</option>-->
                                    <option value="{{_id}}" {{#if selected }} selected="selected" {{/if}}>{{nome}}</option>
                                    {{/each}}
                                </select>
                                <button class="btn btn-success form-control">Indietro</button>
                            </div>
                            <!--
                            <div class="well">
                                <h4>Disk Space Used</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        60%
                                    </div>
                                </div>
                                <h4>Bandwidth Used </h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                        40%
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                        <div class="col-md-9" style="width:850px; height:700px; overflow: auto;">
                            {{#each viewModel.ticket.eventi}}
                            <div class="panel panel-default">
                                <div class="panel-heading main-color-bg">
                                    <h3 class="panel-title">
                                        <b>Da:</b> {{creatoDa}}
                                        <b>Il:</b>{{creatoIl}}
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    {{testo}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form action="/tickets/{{viewModel.ticket._id}}" method="POST" id="formInvioEvento">
                                    <div class="form-group">
                                        <label for="nuovoEventoTicket">Aggiungi evento:</label>
                                        <textarea class="form-control" id="nuovoEventoTicket" name="nuovoEventoTicket"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success">Invia</button>
                                    <button type="button" class="btn btn-info">Allega file</button>
                                </form>
                            </div>

                        </div>
                    </div>
            </section>