<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Ordina per</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/tickets/orderBy/prio">Prio</a>
                    </li>
                    <li>
                        <a href="#">Utente</a>
                    </li>
                    <li>
                        <a href="#">Data creazione ticket</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10">
            {{#each tickets}}
            <div class='col-sm-8'>
                <div class="panel panel-{{prioClass prio}}">
                    <div class="panel-heading">
                        <h4 class='panel-title'>{{titolo}}</h4>
                    </div>
                    <div class="panel-body">
                        <h6>Ultimo evento:</h6>
                        <p>
                            {{ultimoEvento eventi}}
                        </p>
                        <hr>
                        <p>{{prio}}</p>
                    </div>
                    <div class='panel-footer'>
                        <a class="btn btn-success" href="/tickets/{{_id}}">Apri</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>
</div>