<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Ordina per</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/tickets?_idTecnico={{viewModel.tecnicoHref}}&__sort=titolo">Titolo</a>
                    </li>
                    <li>
                        <a href="/tickets?_idTecnico={{viewModel.tecnicoHref}}&__sort=_idPrio">Prio</a>
                    </li>
                    <li>
                        <a href="/tickets?_idTecnico={{viewModel.tecnicoHref}}&__sort=_idUtente">Utente</a>
                    </li>
                    <li>
                        <a href="#">Data creazione ticket</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <table data-toggle="table" data-height="800" data-striped="true" data-search="true" data-show-columns="true">
                <thead>
                    <tr>
                        <th>test</th>
                        <th>Creato il</th>
                        <th>Modificato il</th>
                        <th>Cliente</th>
                        <th>Titolo</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each viewModel.tickets}}
                    <tr>
                        <td><a class="btn btn-success" href="/tickets/{{_id}}">Apri</a></td>
                        <td>{{formatMongoDate creatoIl}}</td>
                        <td>{{formatMongoDate modifcatoIl}}</td>
                        <td>{{clientiDb.nome}}</td>
                        <td>{{titolo}}</td>
                    </tr>
                    <!--
            <div class='col-sm-8'>
                <div id=`_ticketId_{{{_id}}}` class="panel panel-{{prioClass prio}}">
                    <div class="panel-heading">
                        <h4 class='panel-title'>{{titolo}}</h4>
                    </div>
                    <div class="panel-body">
                        <h6>Ultimo evento:</h6>
                        <p>
                            {{ultimoEvento eventi}}
                        </p>
                        <hr>
                        <p>{{_idPrio.nome}}</p>
                        <p>{{_idTecnico.nome}} {{_idTecnico.cognome}}</p>
                    </div>
                    <div class='panel-footer'>
                        <a class="btn btn-success" href="/tickets/{{_id}}">Apri</a>
                    </div>
                </div>
            </div>
            -->
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>

</div>
</div>